// Counter layer and text layer positioning issue
// (see: https://github.com/FortAwesome/Font-Awesome-Pro/issues/986)

/deep/ .fa-layers-counter {
  height: 1em;
  max-width: 4.25em;
  white-space: nowrap;

  &.fa-layers-text {
    left: auto;
  }
}
